.productsList {
  height: 85vh;
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(252, 251, 251);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgb(185, 184, 184);
  box-shadow: inset 0 0 10px rgb(192, 192, 192);
}
