.product {
  height: 320px;
  width: 220px;
}

.productImg {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
}

.imgCon {
  height: 200px;
  width: 220px;
  overflow: hidden;
  position: relative;
}

.productDesc p {
  text-align: left;
  font-size: 0.85rem;
  font-weight: 400;
}

.priceBef {
  font-weight: 300;
  color: rgb(181, 178, 178);
}

.priceAft {
  padding-left: 8px;
  color: #7b90ff;
  font-weight: 500;
}

.noOfReviews {
  font-size: 0.6rem;
  padding-left: 3px;
}

.popup {
  text-align: center;
  position: absolute;
  top: 163px;
  background-color: #899af2be;
  width: 220px;
  color: white;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.product:hover {
  cursor: pointer;
}

.product:hover .popup {
  opacity: 1;
  visibility: visible;
}

.heart {
  position: absolute;
  top: 10px;
  left: 185px;
  color: rgb(216, 20, 20);
}

.unheart {
  position: absolute;
  top: 10px;
  left: 185px;
  color: rgba(254, 254, 254, 0.799);
}
