.searchSec,
.collapseSec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchIcon {
  background-color: white;
  color: rgb(173, 172, 172);
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.searchIcon:focus {
  border: none;
  outline: none;
}

.searchBox {
  border: none;
  border-radius: 10px;
}

.searchBox:focus {
  box-shadow: none;
}

.searchInp {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
}
